mixin vitrina-item
    .vitrina-item
        .vitrina-item__top-wrap
            IMG.vitrina-item__img(src="static/img/content/vitrina-img.jpg")
            .vitrina-item__links-wrap
                A(href="#").vitrina-item__link-play Играть сейчас
                A(href="#").vitrina-item__link-demo Демо игра
        .vitrina-item__bottom-wrap
            A(href="#").vitrina-item__game-name Theme park
            .vitrina-item__number 255

