mixin footer(data)
    +b.footer()&attributes(attributes)
        block
        .container
            +e.pay-wrap
                IMG(src="static/img/general/footer-pay.jpg")
            +e.content
                +e.left
                    +e.chudo-slot 2011-2016. ЧудоСлот.
                +e.right
                    +e.A(href="#").link O нас
                    +e.A(href="#").link Условия и правила
                    +e.A(href="#").link ОТВЕТСТВЕННАЯ ИГРАПЛАГИН
